In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
pd.options.mode.chained_assignment = None

In [2]:
nbadata = pd.read_csv("game.csv")
nbadata.dtypes

season_id                   int64
team_id_home                int64
team_abbreviation_home     object
team_name_home             object
game_id                     int64
game_date                  object
matchup_home               object
wl_home                    object
min                         int64
fgm_home                  float64
fga_home                  float64
fg_pct_home               float64
fg3m_home                 float64
fg3a_home                 float64
fg3_pct_home              float64
ftm_home                  float64
fta_home                  float64
ft_pct_home               float64
oreb_home                 float64
dreb_home                 float64
reb_home                  float64
ast_home                  float64
stl_home                  float64
blk_home                  float64
tov_home                  float64
pf_home                   float64
pts_home                    int64
plus_minus_home             int64
video_available_home        int64
team_id_away                int64
team_abbreviation_away     object
team_name_away             object
matchup_away               object
wl_away                    object
fgm_away                  float64
fga_away                  float64
fg_pct_away               float64
fg3m_away                 float64
fg3a_away                 float64
fg3_pct_away              float64
ftm_away                  float64
fta_away                  float64
ft_pct_away               float64
oreb_away                 float64
dreb_away                 float64
reb_away                  float64
ast_away                  float64
stl_away                  float64
blk_away                  float64
tov_away                  float64
pf_away                   float64
pts_away                    int64
plus_minus_away             int64
video_available_away        int64
dtype: object

In [20]:
## filter out data before 1976
nbadata['game_date'] = pd.to_datetime(nbadata['game_date']).dt.floor('D')
nbadata = nbadata[nbadata['game_date'].dt.year >= 1976]
nbadata = nbadata.reset_index(drop=True)

## filter out necessary column for calculating elo
need_column = ['season_id','game_id', 'game_date',
               'team_abbreviation_home','wl_home','plus_minus_home',
               'wl_away','team_abbreviation_away',
               'team_name_home','team_name_away']

nbadata = nbadata[need_column]
# data set used for test
# small_nbadata = nbadata.iloc[:500,:].reset_index(drop=True)

teams_abb = []
for team_abb in list(nbadata['team_abbreviation_home']):
    if team_abb not in teams_abb:
        teams_abb.append(team_abb)

teams_full = []
for team_abb in teams_abb:
    for game in range(0, nbadata.shape[0]):
        if team_abb == nbadata['team_abbreviation_home'][game]:
            teams_full.append(nbadata['team_name_home'][game])
            break

## Create original elo table
elo_table = pd.DataFrame({col: [1500] for col in teams_abb})
elo_table.insert(0, column=nbadata.columns[0], value=None)
elo_table.insert(1, column=nbadata.columns[1], value=None)
elo_table.insert(2, column=nbadata.columns[2], value=None)
elo_table

,season_id,game_id,game_date,POR,WAS,SEA,DET,CHI,BUF,PHL,...,PHI,UTA,SAS,MEM,NOH,CHA,NOK,OKC,BKN,NOP
0,None,None,None,1500,1500,1500,1500,1500,1500,1500,...,1500,1500,1500,1500,1500,1500,1500,1500,1500,1500

In [6]:
def update_elo_match(home_elo, away_elo, MOV):
    E_home = 1/(1+pow(10,(away_elo - home_elo)/400))
    E_away = 1/(1+pow(10,(home_elo - away_elo)/400))

    if MOV > 0:## home win
        k = 20*(pow(MOV+3,0.8)/(7.5+0.006*(home_elo - away_elo)))
        
        updated_home_elo = k * (1 - E_home) + home_elo
        updated_away_elo = k * (0 - E_away) + away_elo

        return updated_home_elo,updated_away_elo

    else: ## away win
        k = 20*(pow(-MOV+3,0.8)/(7.5+0.006*(away_elo - home_elo)))

        updated_home_elo = k * (0 - E_home) + home_elo
        updated_away_elo = k * (1 - E_away) + away_elo

        return updated_home_elo,updated_away_elo

In [21]:
for a_game in range(0,len(nbadata)):
    ## store the new game information
    game = nbadata.loc[a_game,]
    home_team_name = game['team_abbreviation_home']
    away_team_name = game['team_abbreviation_away']
    MOV = game['plus_minus_home']

    ## store the previous elo information
    new_row_elo = elo_table.loc[a_game,]
    home_elo = new_row_elo[home_team_name]
    away_elo = new_row_elo[away_team_name]
    updated_home_elo,updated_away_elo = update_elo_match(home_elo, away_elo, MOV)

    ## update the game and season information in the new row
    for game_information_index in range(0,3):
        new_row_elo[game_information_index] = game[game_information_index]
    
    ## update elo for two teams after the game
    new_row_elo[home_team_name] = updated_home_elo
    new_row_elo[away_team_name] = updated_away_elo

    ## update elo for all teams after a season
    if new_row_elo['season_id'] != elo_table.loc[elo_table.shape[0]-1,'season_id'] and elo_table.shape[0] > 1:
        new_row_elo[3:len(new_row_elo)] *= 0.75
        new_row_elo[3:len(new_row_elo)] += 0.25*1505
    
    ## reset those who do not participate in to the season
    new_row_elo = np.where(new_row_elo == 1501.25, 1500, new_row_elo)

    ## append the new row to the elo table
    elo_table.loc[elo_table.shape[0]] = new_row_elo

In [25]:
grouped_elo = elo_table.groupby('game_date')

aggregations = {
    'season_id': 'last',
    'game_id': 'last',
    'game_date': 'last'
}

for team in teams_abb:
    aggregations[team] = 'last'

long_elo_table = grouped_elo.agg(aggregations).reset_index(drop=True)
long_elo_table

,season_id,game_id,game_date,POR,WAS,SEA,DET,CHI,BUF,PHL,...,PHI,UTA,SAS,MEM,NOH,CHA,NOK,OKC,BKN,NOP
0,21975,27500289,1976-01-01,1494.409383,1511.011365,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
1,21975,27500293,1976-01-02,1494.409383,1519.726249,1493.675631,1486.536538,1491.285116,1504.041911,1511.011365,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
2,21975,27500304,1976-01-03,1516.127693,1532.761193,1493.675631,1492.918060,1491.285116,1499.879052,1497.976421,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
3,21975,27500307,1976-01-04,1504.686907,1532.761193,1506.908521,1492.918060,1491.285116,1499.879052,1497.976421,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
4,21975,27500308,1976-01-05,1504.686907,1532.761193,1506.908521,1492.918060,1495.263102,1499.879052,1497.976421,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7145,22022,22200991,2023-03-08,1429.169478,1508.066474,1501.673466,1319.154662,1527.300064,1504.999438,1504.878356,...,1629.018564,1443.909205,1280.293821,1581.744782,1498.666952,1406.260347,1505.087676,1516.337539,1513.491451,1469.217792
7146,22022,22200994,2023-03-09,1429.169478,1508.066474,1501.673466,1311.835737,1527.300064,1504.999438,1504.878356,...,1629.018564,1452.873550,1280.293821,1596.238011,1498.666952,1413.579272,1505.087676,1516.337539,1509.654236,1469.217792
7147,22022,22201003,2023-03-10,1427.493920,1499.880626,1501.673466,1311.835737,1527.300064,1504.999438,1504.878356,...,1630.694122,1452.873550,1302.070005,1596.238011,1498.666952,1413.579272,1505.087676,1516.337539,1513.842625,1469.217792
7148,22022,22201013,2023-03-11,1427.493920,1499.880626,1501.673466,1306.973178,1530.327980,1504.999438,1504.878356,...,1630.694122,1460.684814,1302.070005,1600.601692,1498.666952,1405.768008,1505.087676,1527.061279,1513.842625,1458.494051
7149,22022,22201014,2023-03-12,1414.472842,1490.717304,1501.673466,1306.973178,1530.327980,1504.999438,1504.878356,...,1639.857444,1460.684814,1297.830024,1600.601692,1498.666952,1402.570356,1505.087676,1531.301260,1520.224892,1471.515130

In [26]:
grouped_elo = long_elo_table.groupby('season_id')

aggregations = {
    'season_id': 'last',
}

for team in teams_abb:
    aggregations[team] = 'mean'

long_elo_table = grouped_elo.agg(aggregations).reset_index(drop=True)
long_elo_table

,season_id,POR,WAS,SEA,DET,CHI,BUF,PHL,NOJ,LAL,...,PHI,UTA,SAS,MEM,NOH,CHA,NOK,OKC,BKN,NOP
0,21975,1495.706165,1556.208429,1498.459176,1457.799825,1476.761374,1516.417560,1492.289290,1509.891317,1474.239545,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
1,21976,1566.573474,1538.183203,1498.480269,1508.481244,1469.470389,1442.946434,1564.384825,1459.108346,1562.138336,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
2,21977,1658.354790,1537.980534,1517.959152,1483.311338,1532.814448,1423.392380,1627.448489,1454.188044,1550.241131,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
3,21978,1522.912667,1606.335667,1588.850405,1447.890880,1427.924792,1405.734300,1570.780422,1414.051066,1596.286390,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
4,21979,1535.337863,1480.757016,1623.230361,1378.232982,1434.670949,1430.550725,1604.709314,1401.037225,1620.801567,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
5,21980,1505.107119,1505.726962,1516.907782,1327.212149,1519.156897,1449.163044,1679.254055,1427.027919,1635.430716,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
6,21981,1530.956314,1531.080996,1564.353754,1481.019800,1499.268135,1463.122283,1658.106093,1446.520939,1616.317842,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
7,21982,1540.275143,1514.525962,1570.591512,1502.356981,1429.895014,1473.591712,1720.249858,1461.140704,1651.475360,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
8,21983,1575.906956,1489.071284,1516.133774,1559.864447,1420.745695,1481.443784,1607.665721,1472.105528,1596.867054,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
9,21984,1534.196111,1501.355446,1452.592677,1572.288934,1463.836461,1487.332838,1635.402431,1480.329146,1629.640932,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
10,21985,1534.238701,1496.721298,1446.363842,1543.086708,1425.788560,1491.749629,1582.735935,1486.496860,1684.988238,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
11,21986,1566.728666,1491.385521,1495.529673,1593.431872,1497.324009,1495.062221,1542.602383,1491.122645,1674.940724,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
12,21987,1571.397134,1485.079677,1514.004300,1611.870127,1572.540202,1497.546666,1494.268303,1494.591984,1666.333088,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
13,21989,1628.414772,1458.654544,1531.285516,1654.328977,1598.872191,1499.410000,1569.025479,1497.193988,1658.041969,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
14,21990,1697.682447,1411.618749,1509.337669,1604.567390,1669.263714,1500.807500,1548.494971,1499.145491,1660.338169,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
15,21991,1663.385232,1397.795227,1537.131728,1554.159440,1737.434745,1501.855625,1479.496604,1500.609118,1536.601599,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
16,21992,1598.934434,1367.706299,1632.460292,1495.750487,1669.710301,1502.641719,1406.845363,1501.706839,1493.834315,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
17,21993,1572.844471,1353.789084,1669.727463,1391.511519,1611.543534,1503.231289,1386.803621,1502.530129,1421.782200,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
18,21994,1578.402787,1350.331732,1676.731802,1354.502175,1573.094239,1503.673467,1360.842775,1503.147597,1510.331434,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
19,21995,1532.324206,1478.893953,1677.699181,1492.278060,1739.413067,1504.005100,1305.603874,1503.610698,1576.819384,...,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
20,21996,1559.527993,1517.569731,1664.274873,1621.863589,1776.078001,1504.253825,1343.356614,1503.958023,1608.708333,...,1404.859595,1622.530042,1372.308678,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
21,21997,1563.625056,1543.497896,1652.806498,1536.332169,1684.351610,1504.440369,1383.767460,1504.218517,1646.488579,...,1411.185019,1659.502196,1526.026628,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
22,21998,1584.622016,1491.774551,1554.156301,1566.160357,1491.250489,1504.580277,1414.075595,1504.413888,1622.200953,...,1534.425834,1676.079679,1627.678831,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
23,21999,1645.600320,1424.732926,1521.306677,1546.334813,1315.856034,1504.685207,1436.806696,1504.560416,1679.541480,...,1535.469800,1616.106218,1638.268860,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
24,22000,1618.271082,1359.555122,1519.092166,1458.033666,1271.141339,1504.763906,1453.855022,1504.670312,1626.262953,...,1616.805237,1620.956357,1657.982905,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
25,22001,1574.588457,1433.026495,1573.414706,1524.339920,1312.158263,1504.822929,1466.641267,1504.752734,1659.580377,...,1542.778237,1552.795723,1659.059676,1390.999809,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
26,22002,1585.232171,1481.529969,1517.424517,1596.126347,1382.940372,1504.867197,1476.230950,1504.814551,1570.410990,...,1545.002928,1553.954266,1651.329428,1401.439310,1522.694319,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
27,22003,1511.489206,1388.978629,1502.010831,1598.155710,1373.976376,1504.900398,1483.423213,1504.860913,1617.289760,...,1478.861989,1504.533609,1658.947527,1550.300797,1520.607242,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
28,22004,1460.061443,1476.567089,1584.464402,1588.130525,1464.093787,1504.925298,1488.817409,1504.895685,1517.103907,...,1461.952332,1441.312022,1715.015735,1570.354725,1377.016985,1375.590541,1500.000000,1500.000000,1500.000000,1500.000000
29,22005,1363.143902,1505.969848,1452.382984,1672.579014,1509.641474,1504.943974,1492.863057,1504.921763,1509.179663,...,1481.763931,1445.246186,1662.174069,1570.667256,1376.735845,1379.936369,1493.634542,1500.000000,1500.000000,1500.000000
30,22006,1394.991635,1530.889483,1473.828824,1602.675662,1578.017537,1504.957980,1495.897293,1504.941323,1541.536576,...,1431.540765,1568.670439,1674.854994,1438.263764,1408.801883,1416.388471,1462.601809,1500.000000,1500.000000,1500.000000
31,22007,1480.698887,1492.610399,1355.212447,1642.220164,1479.357231,1504.968485,1498.172970,1504.955992,1609.504185,...,1486.533278,1606.406957,1635.463405,1383.118318,1567.330775,1424.575812,1509.920676,1500.000000,1500.000000,1500.000000
32,22008,1566.523557,1385.744003,1364.978228,1541.636290,1475.014735,1504.976364,1499.879727,1504.966994,1706.202854,...,1514.897664,1593.060567,1613.121543,1354.186912,1596.175558,1458.327588,1508.690507,1388.822289,1500.000000,1500.000000
33,22009,1594.208809,1382.175014,1399.983671,1410.619996,1492.874177,1504.982273,1501.159795,1504.975245,1667.772968,...,1436.816906,1601.815466,1605.493019,1474.694496,1485.841734,1524.584275,1507.767880,1539.609919,1500.000000,1500.000000
34,22010,1552.782398,1351.454961,1426.237753,1399.145471,1609.197069,1504.986705,1502.119847,1504.981434,1624.842268,...,1494.782940,1534.625435,1669.460384,1523.028079,1532.675678,1461.893319,1507.075910,1590.474735,1500.000000,1500.000000
35,22011,1535.559125,1340.866705,1445.928315,1392.768542,1673.432978,1504.990029,1502.839885,1504.986076,1601.613482,...,1563.068704,1497.956289,1632.655694,1574.439805,1433.183850,1295.142469,1506.556933,1663.664237,1500.000000,1500.000000
36,22012,1458.871695,1422.692188,1460.696236,1426.773679,1568.308150,1504.992521,1503.379914,1504.989557,1540.462628,...,1451.421395,1524.505369,1681.499558,1612.194247,1440.029021,1273.140896,1506.167700,1684.695226,1536.389439,1500.000000
37,22013,1571.439818,1506.028058,1471.772177,1417.983797,1527.923029,1504.994391,1503.784935,1504.992168,1435.762680,...,1322.888544,1424.402141,1656.513742,1570.750684,1441.740951,1443.603172,1505.875775,1683.641131,1506.756748,1471.777668
38,22014,1624.328130,1542.265202,1480.079133,1413.125093,1575.894794,1504.995793,1504.088701,1504.994126,1381.853308,...,1295.842106,1456.552071,1638.164227,1625.051683,1457.555713,1471.226633,1505.656831,1571.091804,1467.672944,1509.632523
39,22015,1535.017030,1493.652195,1486.309350,1513.851211,1512.815219,1504.996845,1504.316526,1504.995594,1313.220045,...,1270.832018,1533.448242,1739.428314,1526.262460,1469.416785,1510.904851,1505.492623,1636.496967,1387.359194,1469.173180
40,22016,1510.394344,1548.323006,1490.982012,1493.136512,1487.564300,1504.997634,1504.487395,1504.996696,1370.932867,...,1346.749558,1584.653224,1696.846447,1523.279183,1478.312589,1528.660037,1505.369467,1574.140394,1324.878970,1435.505163
41,22018,1586.940303,1475.475162,1494.486509,1471.874743,1384.341887,1504.998225,1504.615546,1504.997522,1459.418612,...,1532.262871,1579.491063,1567.853365,1473.590824,1484.984442,1484.140768,1505.277101,1576.144349,1455.668572,1501.017112
42,22019,1521.423087,1411.025204,1497.114882,1427.542776,1385.408863,1504.998669,1504.711659,1504.998141,1617.653116,...,1569.304878,1596.852623,1507.800924,1468.802692,1489.988331,1397.330423,1505.207825,1577.336390,1490.454422,1472.083621
43,22020,1521.799833,1421.420486,1499.086161,1390.797872,1442.333731,1504.999002,1504.783745,1504.998606,1598.085096,...,1589.191971,1639.099923,1509.064120,1533.080961,1493.741248,1461.661901,1505.155869,1426.983274,1571.634911,1504.096546
44,22021,1456.673540,1467.335186,1500.564621,1343.692829,1532.862380,1504.999251,1504.837808,1504.998954,1472.279559,...,1580.951616,1626.268211,1474.616922,1584.062616,1496.555936,1494.459293,1505.116902,1333.741439,1540.044730,1474.764248
45,22022,1431.603516,1477.792596,1501.673466,1363.245169,1503.718703,1504.999438,1504.878356,1504.999216,1460.797828,...,1590.472757,1526.238996,1375.291407,1601.601685,1498.666952,1422.349687,1505.087676,1464.867532,1544.025592,1542.421953

In [27]:
long_elo_table = long_elo_table.melt(id_vars='season_id', var_name='team', value_name='elo_rating')
long_elo_table

     season_id team   elo_rating
0        21975  POR  1495.706165
1        21976  POR  1566.573474
2        21977  POR  1658.354790
3        21978  POR  1522.912667
4        21979  POR  1535.337863
...        ...  ...          ...
2065     22018  NOP  1501.017112
2066     22019  NOP  1472.083621
2067     22020  NOP  1504.096546
2068     22021  NOP  1474.764248
2069     22022  NOP  1542.421953

[2070 rows x 3 columns]

In [30]:
## export the elo table
current_directory = os.getcwd()
csv_path = os.path.join(current_directory, 'long_elo_table.csv')
long_elo_table.to_csv(csv_path, index=False)